.cart {
  min-width: 450px;
  height: fit-content;
  padding: 0px 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #1e2328;
  background-color: #010a13;
  color: #fff;
  max-height: 400px;
  overflow-y: auto;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  @include md {
    width: 100%;
    min-width: auto;
  }
  .cart-item {
    flex: 1 1;
    padding: 10px;
    border-bottom: 1px solid #1e2328;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    @include md {
      flex-wrap: wrap;
    }
    span {
      &:last-child {
        font-weight: bold;
        color: #f0e6d2;
        @include md {
          width: 100%;
        }
      }
      @include md {
        font-size: 14px;
      }
    }
  }
  .cart-total {
    padding: 10px;
    font-size: 22px;
  }
}
