@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010a13;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Comfortaa", cursive !important;
}

#root {
  height: 100vh;
  overflow: hidden;

  @media (max-width: 1200px) {
    height: fit-content;
  }
}

*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(240, 230, 210, 0.1);
  outline: 1px solid rgba(240, 230, 210, 0.1);
  border-radius: 0px;
}

*::-webkit-scrollbar-track {
  box-shadow: none;
}

@-moz-document url-prefix() {
  .scroller {
    scrollbar-width: thin;
    scrollbar-color: #f0e6d2;
  }
}
