.bulletin-table-wrapper {
  width: 100%;

  .bulletin-table {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-header {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      background-color: #fff;

      .bulletin-table-row {
        ul {
          display: flex;
          justify-content: center;
          align-items: stretch;
          height: 50px;

          li {
            flex: 1 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #1e2328;
            font-size: 14px;
            background-color: #010a13;
            color: #f0e6d2;

            &:not(:first-child) {
              border-left: none;
            }

            &:first-child {
              flex: 5 1;
            }
          }
        }
      }
    }

    &-body {
      margin-top: 50px;

      .bulletin-table-row {
        border-bottom: 1px solid #1e2328;
        ul {
          display: flex;
          justify-content: center;
          align-items: stretch;
          &.buttletin-table-row-header {
            height: 30px;
            background-color: #f8f8f8;

            li {
              border-bottom: 1px solid #eee;
              &:first-child {
                display: flex;
                gap: 5px;
                span {
                  &:first-child {
                    margin-left: 10px;
                  }
                }
              }
              &:not(:first-child) {
                border-left: 1px solid #eee;
              }
            }
          }

          &.buttletin-table-row-body {
            height: 50px;

            li {
              cursor: pointer;
              border-bottom: none;
              &:first-child {
                display: flex;
                gap: 5px;
                span {
                  &:first-child {
                    margin-left: 10px;
                    font-weight: bold;
                  }
                }
              }
              &:not(:first-child) {
                border-left: 1px solid #eee;
              }

              &.active {
                background-color: yellow;
              }
            }
          }

          li {
            flex: 1 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
              flex: 5 1;
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
}
